@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: top;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1351px;
  width: 60%; 
  margin: 0 auto;
}
/*=================================
Header styling starts here
=================================*/
header { 
  width: 100%;
  position: absolute;
}

h1 {
  width: 116px;
  padding: 28px 0 28px; 
  font-size: 0;
}
/*=================================
  Header styling ends here
=================================*/  

/* banner styling starts here*/
.banner { background: url(../img/hero_background.jpg) center/cover no-repeat; }
.banner ul li:nth-child(n+2) { display: none; }

.banner ul li { 
  display: block;
  position: relative; 
}

.dexlab { 
  width: 45%;
  padding: 233px 0 0; 
  display: inline-block;
}

.dexlab,
.bannerimg {
  margin-right: -4px;
}

h2 {
  padding-bottom: 18px;
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
}

.dexlab p {
  padding-bottom: 27px;
  color: #fff;
  font-size: 14px;
}

.dexlab a {
  padding:15px 35px;
  border-radius: 4px;
  background-color: #49bae6;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: all .3s ease;  
  -o-transition: all .3s ease;  
  transition: all .3s ease;
}

.dexlab a:hover {
  background-color: #fff;
  color: #49bae6;
}

.bannerimg {
  width: 33.5%;
  padding: 100px 0 58px;;
  margin-left: 21.8%;
  display: inline-block;
  position: relative;
  z-index: 2;
  -webkit-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  transition: all 2s ease;
} 

.social {
  width: 100%;
  padding: 60px 0 65px;
  position: absolute;
  bottom: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.social p { color: #fff; }

.social p,
.social a,
.social span {
  display: inline-block;
  vertical-align: middle;
  font-size: 9px;
  text-transform: capitalize;
}

.social span ,
.social a { background-color: #fff; }

.social span { 
  padding: 3px 3px;
  border-radius: 2px;
}

.font {
  padding: 2px 5px 0 0 ;
  border-radius: 2px; 
  color: #3e589c;
}

.tweet {
  padding: 2px 5px 0 0 ;
  border-radius: 2px; 
  color: #3e589c;
}

 .font::before,
 .tweet::before {
  padding: 2px;
  font: 100 13px "Font Awesome 5 Brands";
}

.bannerimg:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.font::before {
  content:"\f082";
  color: #3e589c;
}

.tweet::before {
  content:"\f099";
  color: #3aabee;
}
/* banner styling ends here*/
/* Feature styling starts here */

.features { 
  padding-bottom: 82px; 
  background-color: #2b84b7;
}

.features li { padding-top: 76px; }
.features .wrapper { width: 47%; }
.features li:nth-child(1) { margin-left: 0;}

.features li {
  width: 17%;
  margin-right: -4px;
  margin-left: 24.2%;
  text-align: center;
}

.features figure {
  -webkit-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  transition: all 2s ease;
  
}

.features figure:hover { 
  -webkit-transform: rotateY(180deg);
  transform: rotate(360deg);
}

.features h3,
.features span { color: #fff; }

.features h3 {
  padding: 20px 0 5px; 
  font-size: 40px;
  font-weight: bold;

}

.features span { font-size: 11px;}

.features li:nth-child(2) { padding-top: 64px; }

/* Feature ends here */
.characters { 
  padding-top: 100px;
  background-color: #ecf0f1;
}

.characters .wrapper { width: 52%; }
.characters li:nth-child(1) { margin-left: 0; }

.characters li { 
  margin-left: 11.5% ;
  margin-right: -4px;
  text-align: center;
}
 
.characters li:first-child { width: 24%; }
.characters li:nth-child(2) { width: 31%; }
.characters li:last-child { width: 22%; }

.characters h3 {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bolder;
}

.characters h3 span {
  display: block;
  text-transform: none;
  font-size: 18px;
  font-weight: initial;
  color: #8d8e90;
  padding-top: 5px;
}

.characters p {
  font-size: 15px ;
  line-height: 20px;
  color: #494a4b ;
  padding-top: 32px;
}

.characters figure { transition: all .5s ease ;}
.characters figure:hover { transform: scale(1.3); }


/*=================================
  main styling starts here
=================================*/








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  